@using ILoveBaku.Domain.Stored_Procedures
@model ILoveBaku.Application.CQRS.ProductGroup.Models.ProductGroupListVm
<a href="@Url.Action("Process","ProductGroup")"><button class="add-user-btn">Qrup əlavə et</button></a>
<div class="users-table-wrapper">
    <table class="users-table">
        <tr class="header-row">
            <th class="column-header">Adı</th>
            <th class="column-header">Kateqoriyası</th>
            <th class="column-header">Status</th>
            <th class="column-header">Düzəliş</th>
        </tr>
        @foreach (var group in Model.Groups)
        {
            <tr class="users-row">
                <td class="row-item">@group.Name</td>
                <td class="row-item">@group.CategoryName</td>
                <td class="row-item"><span class="badge @(group.IsActive?"badge-success":"badge-danger")">@(group.IsActive?"Aktiv":"Deaktiv")</span></td>
                <td class="row-item">
                    <div class="select-category-btn">
                        <a href="@Url.Action("Process","ProductGroup",new { groupId=group.Id})">→</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div class="pagination-container">
    @if (Model.Total != 1)
    {
        for (int i = 1; i <= Model.Total; i++)
        {
            <a class="pagination-btn @(i==Model.Page?"active":"")" href="@Url.Action("List","ProductGroup",new { area="Admin",page=i})">@i</a>
        }
    }
</div>